<%- include('partials/header'); -%>
    <div class="d-none d-lg-block ">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <% if(!user){ %>
                        <div class="carousel-inner rounded-corners">
                            <img class="d-block w-100" src="images/main.gif">
                        </div>
                        <% } %>
                </div>
                <div class="col-md-5 ">
                    <% if(!user){ %>
                        <div id="text" class="m-2 p-2" style="text-align:center;">
                
                            <span><img src="images/flipr1.png"><img src="images/flipr2.png"></span>
                            <p style="color:#000000;font-size:18px;font-family:sans-serif;font-style: Rubik;"> Welcome to Flipr Mailer!! Send recurring mail, for anytime, at any interval! Sign up and schedule your mails now!! Sign up is free.</p>

                        </div>
                        <% } %>
                </div>
                <div class="col-md-1"></div>
            </div>
      
            <div>
                <% if(user){ %>
                    <span style="font-size: 16px ; color: rgb(0, 0, 0);font-style: Rubik;">Welcome !! <%= user["email"] %> </span><a style="font-size: 16px ; color:blue ;font-style: Rubik;" class="nav-link" href="/logout">Logout ! <%= user.username %></a>
                    <% if(user.thumbnail){ %>
                      <img src="<%= user.thumbnail %>" class="img-fluid" >   
                    <% } %>
                <% } %>
            </div>
        </div>

    </div>

    </div>
    <div class="d-block d-lg-none">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-12">

                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 ">
                    <div class=" p-4" style="text-align:center;">
                        <% if(!user){ %>
                            <div class="carousel-inner rounded-corners">
                                <img class="d-block w-100" src="images/main.gif">
                            </div>
                            <% } %>
                                <% if(!user){ %>
                                    <span><img src="images/flipr1.png"><img src="images/flipr2.png"></span>
                                    <p style="color:#000000;font-size:18px;font-family:sans-serif;font-style: Rubik;">Welcome to Flipr Mailer!! Send recurring mail, for anytime, at any interval! Sign up and schedule your mails now!! Sign up is free.</p>
                                    <% } %>
  
                    </div>
                </div>

            </div>
        </div>
    </div>

  <% if(user){ %>
    <%- include('mailform'); -%>    
<% } %>
    <%- include('partials/footer'); -%>